<template>
  <div class="add-goods">
    <GoodsPage ref="goodsPage">
      <template v-slot="{ getGoodsObj }">
        <el-button @click="handleAdd(getGoodsObj)">添加商品</el-button>
      </template>
    </GoodsPage>
  </div>
</template>

<script>
import GoodsPage from "./GoodsPage.vue";
import { addGoods } from "@/http/apis";
export default {
  components: {
    GoodsPage,
  },
  methods: {
    async handleAdd(func) {
      const {
        meta: { msg },
      } = await addGoods(func());
      this.$message.success(msg);
      this.$router.replace({
        name: "GoodsLists",
      });
    },
  },
};
</script>
<style lang="stylus" scoped></style>
