<template>
  <div class="edit-goods">
    <GoodsPage ref="goodsPage" :goodsObj="goodsObj">
      <template v-slot="{ getGoodsObj }">
        <el-button @click="handleEdit(getGoodsObj)">编辑商品</el-button>
      </template>
    </GoodsPage>
  </div>
</template>

<script>
import GoodsPage from "./GoodsPage.vue";
import { getGoodsById, editGoods } from "@/http/apis";
export default {
  props: ["id"],
  data() {
    return {
      goodsObj: null,
    };
  },
  components: {
    GoodsPage,
  },
  methods: {
    async getGoodsById() {
      const { data } = await getGoodsById(this.id);
      this.goodsObj = data;
    },
    async handleEdit(func) {
      const {
        meta: { msg },
      } = await editGoods({
        ...func(),
        id: func().goods_id,
      });
      this.$message.success(msg);
      this.$router.replace({
        name: "GoodsLists",
      });
    },
  },
  created() {
    this.getGoodsById();
  },
};
</script>
<style lang="stylus" scoped></style>
