<template>
  <div class="goods-page">
    <div class="tips">
      <el-alert
        title="消息提示的文案"
        type="info"
        center
        show-icon
        :closable="false"
      >
      </el-alert>
    </div>
    <el-steps :active="Number(active)" finish-status="success">
      <el-step
        v-for="item in arr"
        :key="item.name"
        :title="item.title"
      ></el-step>
    </el-steps>
    <el-tabs v-model="active" tab-position="left">
      <el-tab-pane
        v-for="item in arr"
        :key="item.name"
        :name="item.name"
        :label="item.title"
      >
        <template v-if="item.name === '1'">
          <PrimaryInfo
            :primaryInfo="
              goodsObj
                ? {
                    goods_name: goodsObj.goods_name,
                    goods_price: goodsObj.goods_price,
                    goods_number: goodsObj.goods_number,
                    goods_weight: goodsObj.goods_weight,
                    goods_cat: [
                      goodsObj.cat_one_id,
                      goodsObj.cat_two_id,
                      goodsObj.cat_three_id,
                    ],
                    goods_id: goodsObj.goods_id,
                  }
                : {}
            "
            ref="primaryInfo"
          ></PrimaryInfo>
        </template>
        <template v-if="item.name === '2'">
          <GoodsParams
            :isEdit="goodsObj ? true : false"
            :acitved="active"
            ref="goodsParams"
          ></GoodsParams>
        </template>
        <template v-if="item.name === '3'">
          <GoodsAttr
            :isEdit="goodsObj ? true : false"
            :goodsAttr="goodsObj ? goodsObj.attrs : []"
            :acitved="active"
            ref="goodsAttr"
          ></GoodsAttr>
        </template>
        <template v-if="item.name === '4'">
          <GoodsPics
            :goodsPics="goodsObj ? goodsObj.pics : ''"
            ref="goodsPics"
          ></GoodsPics>
        </template>
        <template v-if="item.name === '5'">
          <GoodsDetail
            :goodsDetail="goodsObj ? goodsObj.goods_introduce : ''"
            ref="goodsDetail"
          >
            <slot v-bind:getGoodsObj="getGoodsObj"></slot>
          </GoodsDetail>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import PrimaryInfo from "./components/PrimaryInfo";
import GoodsParams from "./components/GoodsParams";
import GoodsAttr from "./components/GoodsAttr";
import GoodsPics from "./components/GoodsPics";
import GoodsDetail from "./components/GoodsDetail";
export default {
  data() {
    return {
      active: "1",
      obj: null,
      arr: [
        {
          title: "基本信息",
          name: "1",
        },
        {
          title: "商品参数",
          name: "2",
        },
        {
          title: "商品属性",
          name: "3",
        },
        {
          title: "商品图片",
          name: "4",
        },
        {
          title: "商品内容",
          name: "5",
        },
      ],
    };
  },
  props: ["goodsObj"],
  components: {
    PrimaryInfo,
    GoodsParams,
    GoodsAttr,
    GoodsPics,
    GoodsDetail,
  },
  watch: {
    active(val) {
      if (val === "2") {
        let goods_cat = this.$refs.primaryInfo[0].formObj.goods_cat;
        if (goods_cat.length !== 3) {
          this.$message.error("请选择商品三级分类");
        } else {
          this.$refs.goodsParams[0].id = goods_cat[2];
        }
      }
      if (val === "3") {
        let goods_cat = this.$refs.primaryInfo[0].formObj.goods_cat;
        if (goods_cat.length !== 3) {
          this.$message.error("请选择商品三级分类");
        } else {
          this.$refs.goodsAttr[0].id = goods_cat[2];
        }
      }
    },
  },
  methods: {
    getGoodsObj() {
      const pics = [];
      this.$refs.goodsPics[0].fileList.map((item) =>
        pics.push({ pic: item.name })
      );
      return {
        ...this.$refs.primaryInfo[0].formObj,
        goods_cat: this.$refs.primaryInfo[0].formObj.goods_cat.join(","),
        attrs: this.$refs.goodsAttr[0].arr,
        pics,
        goods_introduce: this.$refs.goodsDetail[0].goods_introduce,
      };
    },
  },
  mounted() {},
  updated() {
    // const pics = [];
    // this.$refs.goodsPics[0].fileList.map((item) =>
    //   pics.push({ pic: item.name })
    // );
    // this.obj = {
    //   ...this.$refs.primaryInfo[0].formObj,
    //   goods_cat: this.$refs.primaryInfo[0].formObj.goods_cat.join(","),
    //   attrs: this.$refs.goodsAttr[0].arr,
    //   pics,
    //   goods_introduce: this.$refs.goodsDetail[0].goods_introduce,
    // };
  },
};
</script>
<style lang="stylus" scoped>
.goods-page
    background-color #fff
    margin-top 20px
    .tips
        padding 20px
</style>
