<template>
  <div class="lists">
    <SearchForm
      @handleSearch="handleSearch"
      @handleDialog="toAddPage"
      btnName="添加商品"
    ></SearchForm>
    <el-table :data="goods" style="width: 100%; margin-bottom: 15px">
      <el-table-column type="index" width="50"> </el-table-column>
      <el-table-column prop="goods_name" label="商品名称"> </el-table-column>
      <el-table-column prop="goods_price" label="商品价格"> </el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"> </el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scoped">
          {{ scoped.row.add_time | dealDate }}
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="{ row }">
          <el-button
            type="primary"
            icon="el-icon-edit"
            @click="handleEdit(row)"
            circle
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            @click="handleDel(row.goods_id)"
            circle
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSize"
      @current-change="handleNum"
      :current-page="obj.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="obj.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    >
    </el-pagination>
  </div>
</template>

<script>
import { getGoodsList, delGoods } from "@/http/apis";
import SearchForm from "../Users/components/SearchForm";
export default {
  components: { SearchForm },
  data() {
    return {
      obj: {
        query: "",
        pagenum: 1,
        pagesize: 2,
      },
      goods: [],
      total: 0,
    };
  },
  methods: {
    //获取商品列表
    async getGoodsList() {
      const {
        data: { goods, total },
      } = await getGoodsList(this.obj);
      this.goods = goods;
      this.total = total;
    },
    //每页显示条数发生变化
    handleSize(size) {
      this.obj.pagesize = size;
      this.getGoodsList();
    },
    //页码变化
    handleNum(num) {
      this.obj.pagenum = num;
      this.getGoodsList();
    },
    //搜索
    handleSearch(query) {
      this.obj = { ...this.obj, pagenum: 1, query: query };
      this.getGoodsList();
    },
    //删除商品弹窗
    handleDel(id) {
      this.$confirm("此操作将永久删除该商品, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          const {
            meta: { msg },
          } = await delGoods(id);
          this.$message({
            type: "success",
            message: msg,
          });
          this.getGoodsList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消删除",
          });
        });
    },
    //添加商品页面
    toAddPage() {
      this.$router.push({
        name: "GoodsAdd",
      });
    },
    //编辑商品
    handleEdit(row) {
      this.$router.push({
        name: "GoodsEdit",
        params: {
          id: row.goods_id,
        },
      });
    },
  },
  mounted() {
    this.getGoodsList();
  },
};
</script>
<style></style>
