<template>
  <div class="goods">
    <BreadCrumb :breads="breads"></BreadCrumb>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  data() {
    return {
      breads: [
        {
          label: "首页",
          to: "Home",
        },
        {
          label: "商品管理",
          to: null,
        },
        {
          label: "商品列表",
          to: null,
        },
      ],
    };
  },
};
</script>
<style></style>
