<template>
  <div class="rights">
    <BreadCrumb :breads="breads"></BreadCrumb>

    <el-table
      :data="rights"
      style="width: 100%; height: calc(100vh - 101px); overflow-y: scroll"
    >
      <el-table-column type="index" width="50"> </el-table-column>
      <el-table-column prop="authName" label="权限名称"> </el-table-column>
      <el-table-column prop="path" label="路径" width="180"> </el-table-column>
      <el-table-column label="层级">
        <template slot-scope="{ row }">
          {{ obj[row.level] }}
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import { getAllRights } from "@/http/apis";
export default {
  data() {
    return {
      breads: [
        {
          label: "首页",
          to: "Home",
        },
        {
          label: "权限管理",
          to: null,
        },
        {
          label: "权限列表",
          to: null,
        },
      ],
      rights: [],
      obj: {
        0: "一级",
        1: "二级",
        2: "三级",
      },
    };
  },
  methods: {
    //获取所有权限
    async getAllRights() {
      const { data } = await getAllRights("list");
      this.rights = data;
    },
  },
  mounted() {
    this.getAllRights();
  },
};
</script>
<style></style>
