<template>
  <div class="goods-pictures">
    <el-upload
      class="upload-demo"
      :action="action"
      :on-remove="handleRemove"
      :headers="headers"
      :file-list="fileList"
      name="file"
      list-type="picture"
      :on-success="handleSuccess"
    >
      <el-button size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">
        只能上传jpg/png文件，且不超过500kb
      </div>
    </el-upload>
    <el-button @click="handleClick">点击上传</el-button>
    <input style="display: none" ref="file" type="file" />
  </div>
</template>

<script>
export default {
  props: ["goodsPics"],
  data() {
    return {
      action: process.env.VUE_APP_BASE_URL + "upload",
      fileList: [],
      headers: {
        Authorization: this.$store.state.token,
      },
    };
  },
  watch: {
    //商品图片
    goodsPics(val) {
      if (val) {
        let arr = [];
        val.map((item) => {
          let url = item.pics_big_url.replace(
            "http://localhost:",
            "http://localhost:8888"
          );
          arr.push({ name: item.pics_big, url });
        });
        this.fileList = [...arr];
      }
    },
  },
  methods: {
    handleRemove(res) {
      const { name } = res;
      const index = this.fileList.findIndex((item) => item.name == name);
      this.fileList.splice(index, 1);
    },
    handleSuccess(res) {
      const {
        data: { tmp_path, url },
      } = res;
      const path = url.replace("http://localhost:", "http://localhost:8888");
      this.fileList.push({
        name: tmp_path,
        url: path,
      });
    },
    handleClick() {
      this.$refs.file.click();
    },
  },
};
</script>
<style></style>
