<template>
  <el-form :model="formObj" v-if="id">
    <el-form-item
      :label="item.attr_name"
      v-for="item in arr"
      :key="item.attr_id"
    >
      <el-input v-model="item.attr_vals"></el-input>
    </el-form-item>
  </el-form>
</template>

<script>
import { getGoodsParamsById } from "@/http/apis";
export default {
  props: ["acitved", "goodsAttr", "isEdit"],
  data() {
    return {
      formObj: {},
      id: "",
      arr: [],
    };
  },
  methods: {
    async getGoodsParamsById() {
      const { data } = await getGoodsParamsById({ id: this.id, sel: "only" });
      this.arr = data;
    },
  },
  watch: {
    acitved(val) {
      !this.isEdit && val == 3 && this.id && this.getGoodsParamsById();
    },
    goodsAttr(val) {
      this.arr = [...this.arr, ...val];
    },
  },
};
</script>
<style></style>
