<template>
  <div class="goods_params">
    <ul v-if="id">
      <li v-for="item in goodsParams" :key="item.attr_id">
        <template v-if="item.attr_vals.length > 0">
          <h2>{{ item.attr_name }}</h2>
          <ul style="display: flex">
            <li v-for="(_item, index) in item.attr_vals" :key="_item">
              <el-checkbox
                checked
                :label="_item"
                @click.native="handleGoodsParams(item, index)"
                border
              ></el-checkbox>
            </li>
          </ul>
        </template>
      </li>
    </ul>
  </div>
</template>

<script>
import { getGoodsParamsById } from "@/http/apis";
export default {
  props: ["acitved", "isEdit"],
  data() {
    return {
      id: "",
      goodsParams: [],
    };
  },
  methods: {
    async getGoodsParamsById() {
      const { data } = await getGoodsParamsById({ id: this.id });
      data.forEach((item) => {
        item.attr_vals = item.attr_vals.split(",");
      });
      this.goodsParams = data;
    },
    //删除商品参数
    handleGoodsParams(item, index) {
      console.log(123);
      item.attr_vals.splice(index, 1);
    },
  },
  watch: {
    acitved(val) {
      !this.isEdit && val == 2 && this.id && this.getGoodsParamsById();
    },
  },
};
</script>
<style></style>
