<template>
  <div class="goods-detail">
    <slot> </slot>
    <quill-editor v-model="goods_introduce" />
  </div>
</template>

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";
export default {
  components: {
    quillEditor,
  },
  props: ["goodsDetail"],
  data() {
    return {
      goods_introduce: "",
    };
  },
  watch: {
    goodsDetail(val) {
      this.goods_introduce = val;
    },
  },
  methods: {
    async addGoods() {
      this.$emit("addGoods");
    },
  },
};
</script>
<style></style>
