<template>
  <el-form :model="formObj">
    <el-form-item label="商品名称">
      <el-input v-model="formObj.goods_name"></el-input>
    </el-form-item>
    <el-form-item label="商品价格">
      <el-input v-model="formObj.goods_price"></el-input>
    </el-form-item>
    <el-form-item label="商品重量">
      <el-input v-model="formObj.goods_weight"></el-input>
    </el-form-item>
    <el-form-item label="商品数量">
      <el-input v-model="formObj.goods_number"></el-input>
    </el-form-item>
    <el-form-item label="商品分类">
      <el-cascader
        v-model="formObj.goods_cat"
        :options="options"
        :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"
      ></el-cascader>
    </el-form-item>
  </el-form>
</template>

<script>
import { getGoodsCategories } from "@/http/apis";
export default {
  data() {
    return {
      formObj: {
        goods_name: "",
        goods_price: "",
        goods_weight: 0,
        goods_number: 0,
        goods_cat: [],
      },
      options: [],
    };
  },
  props: ["primaryInfo"],
  watch: {
    primaryInfo(val) {
      this.formObj = { ...this.formObj, ...val };
    },
  },
  methods: {
    async getGoodsCategories() {
      const { data } = await getGoodsCategories();
      this.options = data;
    },
  },
  created() {
    this.getGoodsCategories();
  },
};
</script>
<style></style>
