<template>
  <div class="role">
    <BreadCrumb :breads="breads"></BreadCrumb>
    <SearchForm
      @handleDialog="addDilog = true"
      :search="false"
      btnName="添加角色"
    ></SearchForm>
    <el-table
      :data="roles"
      style="width: 100%; height: calc(100vh - 181px); overflow-y: scroll"
    >
      <el-table-column type="expand">
        <template slot-scope="{ row }">
          <el-row v-for="item in row.children" :key="item.id">
            <el-col :span="4">
              <el-tag @close="delRoleRight(row, item.id)" closable>{{
                item.authName
              }}</el-tag>
              <span>></span>
            </el-col>
            <el-col :span="20">
              <el-row v-for="_item in item.children" :key="_item.id">
                <el-col :span="4">
                  <el-tag @close="delRoleRight(row, _item.id)" closable>{{
                    _item.authName
                  }}</el-tag
                  ><span>></span></el-col
                >
                <el-col :span="20">
                  <el-tag
                    closable
                    @close="delRoleRight(row, __item.id)"
                    v-for="__item in _item.children"
                    :key="__item.id"
                    >{{ __item.authName }}</el-tag
                  >
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" width="50"> </el-table-column>
      <el-table-column prop="roleName" label="角色名称"> </el-table-column>
      <el-table-column prop="roleDesc" label="角色描述" width="180">
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="{ row }">
          <el-button
            type="primary"
            icon="el-icon-edit"
            @click="handleEditDialog(row)"
            circle
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            @click="handleDel(row.id)"
            circle
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            @click="handleRightDialog(row)"
            circle
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="添加角色" :visible.sync="addDilog" width="30%">
      <el-form
        ref="addForm"
        :model="addObj"
        :rules="addRules"
        label-position="right"
        label-width="80px"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="addObj.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="addObj.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancleAdd">取 消</el-button>
        <el-button type="primary" @click="handleAddRole">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="editDialog" width="30%">
      <el-form
        ref="editForm"
        :model="editObj"
        :rules="editRules"
        label-position="right"
        label-width="80px"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="editObj.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="editObj.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancleEdit">取 消</el-button>
        <el-button type="primary" @click="handleEditUser">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配权限" :visible.sync="rightDialog" width="30%">
      <el-tree
        :data="data"
        show-checkbox
        node-key="id"
        :props="defaultProps"
        default-expand-all
        ref="tree"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="rightDialog = false">取 消</el-button>
        <el-button type="primary" @click="distributeRights">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import {
  addRole,
  editRole,
  delRole,
  getRolesList,
  distributeRole,
  delRoleRight,
  getAllRights,
  divRights,
} from "@/http/apis";
import SearchForm from "../Users/components/SearchForm";
export default {
  components: { SearchForm },
  data() {
    const handlePassword = (rule, val, cb) => {
      cb();
    };
    return {
      breads: [
        {
          label: "首页",
          to: "Home",
        },
        {
          label: "权限管理",
          to: null,
        },
        {
          label: "角色列表",
          to: null,
        },
      ],
      roles: [],
      addDilog: false,
      //添加角色的字段
      addObj: {
        roleName: "",
        roleDesc: "",
      },
      addRules: {
        roleName: [
          {
            required: true,
            message: "请输入角色名称",
            trigger: ["blur", "change"],
          },
        ],
        roleDesc: [
          {
            required: true,
            message: "请输入角色描述",
            trigger: ["blur", "change"],
          },
          {
            validator: handlePassword,
            trigger: ["blur", "change"],
          },
        ],
      },
      //变基用户
      editDialog: false,
      editObj: {
        roleName: "",
        roleDesc: "",
      },
      editRules: {},
      rightDialog: false,
      data: [
        {
          id: 1,
          label: "一级 1",
          children: [
            {
              id: 4,
              label: "二级 1-1",
            },
          ],
        },
      ],
      defaultProps: {
        label: "authName",
      },
      rid: 0,
    };
  },
  filters: {
    //时间戳转化为年月日
    dealDate(date) {
      const val = new Date(date);
      return `${val.getFullYear()}-${
        val.getMonth() + 1 > 10
          ? val.getMonth() + 1
          : "0" + (val.getMonth() + 1)
      }-${val.getDate()}`;
    },
  },
  methods: {
    //获取角色列表
    async getRoleList() {
      const { data } = await getRolesList();
      this.roles = data;
    },
    //添加角色
    handleAddRole() {
      this.$refs.addForm.validate(async (valid) => {
        if (valid) {
          const {
            meta: { msg },
          } = await addRole(this.addObj);
          this.$message({
            type: "success",
            message: msg,
          });
          //重置表单，防止回显上一次的数据
          this.$refs.addForm.resetFields();
          this.addDilog = false;
          this.getRoleList();
        }
      });
    },
    //取消添加
    handleCancleAdd() {
      this.$refs.addForm.resetFields();
      this.addDilog = false;
    },
    //编辑取消按钮事件
    handleCancleEdit() {
      this.editDialog = false;
    },
    //编辑确认按钮事件
    async handleEditUser() {
      const {
        meta: { msg },
      } = await editRole(this.editObj);
      this.$message.success(msg);
      this.getRoleList();
      this.editDialog = false;
    },
    //编辑按钮弹窗显示事件
    handleEditDialog(row) {
      this.editDialog = true;
      this.editObj = JSON.parse(JSON.stringify(row));
    },
    //删除用户弹窗
    handleDel(id) {
      this.$confirm("此操作将永久删除该角色, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          const {
            meta: { msg },
          } = await delRole(id);
          this.$message({
            type: "success",
            message: msg,
          });
          this.getRoleList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消删除",
          });
        });
    },
    //分配权限弹窗
    async handleRightDialog(row) {
      console.log(row);
      this.rid = row.id;
      await this.getAllRights();
      this.rightDialog = true;
      let arr = [];
      this.getLastRigths(row.children, arr);
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(arr);
      });
      // this.$refs.tree.setCheckedNodes(arr);
    },
    //获取最后一级权限obj
    getLastRigths(arr, arrs) {
      arr.map((item) => {
        if (item.children && item.children.length > 0) {
          this.getLastRigths(item.children, arrs);
        } else {
          arrs.push(item);
        }
      });
    },
    //分配权限
    async distributeRole() {
      const {
        meta: { msg },
      } = await distributeRole(this.roleObj);
      this.$message.success(msg);
      this.roleDialog = false;
      this.getUserList();
    },
    //删除角色对应权限
    async delRoleRight(row, rightId) {
      const { data } = await delRoleRight({
        roleId: row.id,
        rightId,
      });
      row.children = data;
    },
    //获取所有权限
    async getAllRights() {
      const { data } = await getAllRights();
      this.data = data;
    },
    //分配权限
    async distributeRights() {
      let arr = [
        ...this.$refs.tree.getCheckedKeys(),
        ...this.$refs.tree.getHalfCheckedKeys(),
      ];
      const {
        meta: { msg },
      } = await divRights({
        rid: this.rid,
        rids: arr.join(","),
      });
      this.$message.success(msg);
      this.rightDialog = false;
      this.getRoleList();
    },
  },
  mounted() {
    this.getRoleList();
  },
};
</script>
<style></style>
