<template>
  <div class="params">
    <BreadCrumb :breads="breads"></BreadCrumb>
    <el-alert
      title="注意:只允许为第三级分类设置参数"
      type="warning"
      show-icon
      :closable="false"
    >
    </el-alert>
    <div>
      请选择三级分类<el-cascader
        v-model="checked"
        :options="cats"
        :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"
      ></el-cascader>
    </div>
    <el-tabs v-model="actived">
      <el-tab-pane label="动态参数" name="0">
        <el-button
          type="primary"
          @click="handleMany"
          :disabled="checked.length < 3"
          >设置动态参数</el-button
        >
        <el-table :data="many">
          <el-table-column type="expand">
            <template slot-scope="{ row }">
              <el-tag
                :key="index"
                v-for="(tag, index) in row.attr_vals"
                closable
                :disable-transitions="false"
                @close="handleClose(row, index)"
              >
                {{ tag }}
              </el-tag>
              <el-input
                class="input-new-tag"
                v-if="row.inputVisible"
                v-model="row.inputValue"
                ref="saveTagInput"
                size="small"
                @keyup.enter.native="handleInputConfirm(row)"
                @blur="row.inputVisible = false"
              >
              </el-input>
              <el-button
                v-else
                class="button-new-tag"
                size="small"
                @click="showInput(row)"
                >+ New Tag</el-button
              >
            </template>
          </el-table-column>
          <el-table-column label="属性名称" prop="attr_name"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="{ row }">
              <el-button
                type="primary"
                icon="el-icon-edit"
                @click="handleEdit(row)"
              ></el-button>
              <el-button
                type="primary"
                icon="el-icon-delete"
                @click="delParams({ id: row.cat_id, attr_id: row.attr_id })"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="1">
        <el-button
          type="primary"
          @click="handleOnly"
          :disabled="checked.length < 3"
          >设置静态参数</el-button
        >
        <el-table :data="only">
          <el-table-column label="#" type="index"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name"></el-table-column>
          <el-table-column label="属性值" prop="attr_vals"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="{ row }">
              <el-button
                type="primary"
                icon="el-icon-edit"
                @click="handleEdit(row)"
              ></el-button>
              <el-button
                type="primary"
                icon="el-icon-delete"
                @click="delParams({ id: row.cat_id, attr_id: row.attr_id })"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <el-dialog
      title="设置商品参数"
      :visible.sync="manyDialogVisible"
      width="30%"
    >
      <el-form :model="params" ref="paramsForm">
        <el-form-item label="参数名称" prop="attr_name">
          <el-input v-model="params.attr_name"></el-input>
        </el-form-item>
        <el-form-item label="参数类型" prop="attr_sel">
          <el-radio-group v-model="params.attr_sel">
            <el-radio label="many" disabled>动态参数</el-radio>
            <el-radio label="only" disabled>静态参数</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="参数内容" prop="attr_vals">
          <!-- <el-input v-model="params.attr_vals"></el-input> -->
          <el-select
            v-if="params.attr_sel == 'many'"
            v-model="params.attr_vals"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="回车设置不同属性"
          >
          </el-select>
          <el-input v-else v-model="params.attr_vals"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancel">取 消</el-button>
        <el-button type="primary" @click="handleAdd">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getGoodsCategories,
  getGoodsParamsById,
  addParams,
  editParams,
  delParams,
} from "@/http/apis";
export default {
  data() {
    return {
      breads: [
        {
          label: "首页",
          to: "Home",
        },
        {
          label: "商品管理",
          to: null,
        },
        {
          label: "分类参数",
          to: null,
        },
      ],
      actived: "0",
      many: [],
      checked: [],
      cats: [],
      manyDialogVisible: false,
      params: {
        attr_name: "",
        attr_sel: "",
        attr_vals: "",
      },
      only: [],
    };
  },
  methods: {
    async getGoodsCategories() {
      const { data } = await getGoodsCategories();
      this.cats = data;
    },
    async getGoodsParamsById() {
      let sel = this.actived === "0" ? "many" : "only";
      const { data } = await getGoodsParamsById({
        id: this.checked[2],
        sel,
      });
      data.forEach((item) => {
        sel === "many" && (item.attr_vals = item.attr_vals.split(","));
        item.inputVisible = false;
        item.inputValue = "";
      });
      this[sel] = data;
    },
    strToArray(val) {
      return val.split(",");
    },
    //设置动态参数弹窗
    handleMany() {
      this.manyDialogVisible = true;
      this.params.attr_sel = "many";
    },
    //设置静态参数
    handleOnly() {
      this.manyDialogVisible = true;
      this.params.attr_sel = "only";
    },
    //添加属性
    async addParams() {
      const {
        meta: { msg },
      } = await addParams({
        ...this.params,
        attr_vals:
          this.params.attr_sel === "many"
            ? this.params.attr_vals.join()
            : this.params.attr_vals,
        id: this.checked[2],
      });
      this.$message.success(msg);
      this.getGoodsParamsById();
      this.$refs.paramsForm.resetFields();
      this.manyDialogVisible = false;
    },
    showInput(row) {
      row.inputVisible = !row.inputVisible;
    },
    async handleInputConfirm(row) {
      const {
        meta: { msg },
      } = await editParams({
        ...row,
        attr_vals: [...row.attr_vals, row.inputValue].join(),
      });
      this.$message.success(msg);
      row.attr_vals = [...row.attr_vals, row.inputValue];
      row.inputValue = "";
      row.inputVisible = false;
      // this.getGoodsParamsById();
    },
    async handleClose(row, index) {
      row.attr_vals.splice(index, 1);
      const {
        meta: { msg },
      } = await editParams({
        ...row,
        attr_vals: [...row.attr_vals].join(),
      });
      this.$message.success(msg);
      row.attr_vals = [...row.attr_vals];
    },
    handleEdit(row) {
      this.manyDialogVisible = true;
      this.params = { ...row };
      console.log(row);
    },
    async handleAdd() {
      if (!this.params.attr_id) {
        this.addParams();
        return;
      }
      const {
        meta: { msg },
      } = await editParams({
        ...this.params,
        attr_vals:
          this.params.attr_sel === "many"
            ? this.params.attr_vals.join()
            : this.params.attr_vals,
      });
      this.$message.success(msg);
      this.getGoodsParamsById();
      this.$refs.paramsForm.resetFields();
      this.manyDialogVisible = false;
    },
    handleCancel() {
      this.initParams(this.params);
      this.manyDialogVisible = false;
    },
    initParams(params) {
      Object.keys(params).map((item) => {
        params[item] = "";
      });
    },
    async delParams({ id, attr_id }) {
      const {
        meta: { msg },
      } = await delParams({ id, attr_id });
      this.$message.success(msg);
      this.getGoodsParamsById();
    },
  },
  computed: {
    checkedOrActived() {
      return [this.checked, this.actived];
    },
  },
  watch: {
    // async checked() {
    //   let sel = this.actived === "0" ? "many" : "only";
    //   try {
    //     await this.getGoodsParamsById();
    //   } catch (error) {
    //     this[sel] = [];
    //   }
    // },
    // async actived() {
    //   let sel = this.actived === "0" ? "many" : "only";
    //   try {
    //     await this.getGoodsParamsById();
    //   } catch (error) {
    //     this[sel] = [];
    //   }
    // },
    checkedOrActived: {
      deep: true,
      async handler() {
        let sel = this.actived === "0" ? "many" : "only";
        try {
          await this.getGoodsParamsById();
        } catch (error) {
          this[sel] = [];
        }
      },
    },
  },
  created() {
    this.getGoodsCategories();
  },
};
</script>
<style></style>
