<template>
  <el-form
    inline
    style="margin-top: 15px"
    @submit.native.prevent="handleSearch"
  >
    <el-form-item v-if="search">
      <el-input v-model="query">
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="handleSearch"
        ></el-button>
      </el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="handleDialog">{{ btnName }}</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  data() {
    return {
      query: "",
    };
  },
  props: {
    search: {
      default: true,
    },
    btnName: {
      default: "添加用户",
    },
  },
  methods: {
    handleSearch() {
      this.$emit("handleSearch", this.query);
    },
    handleDialog() {
      this.$emit("handleDialog");
    },
  },
};
</script>
<style></style>
