.login
  height 100vh
  width 100vw
  background-color #324152
  display flex
  align-items center
  justify-content center
  .login-form
    width 300px
    background-color #fff
    padding 30px
    border-radius 15px