<template>
  <div class="report">
    <Chart :options="option"></Chart>
  </div>
</template>

<script>
import { getReports } from "@/http/apis";
import { Chart } from "highcharts-vue";
export default {
  data() {
    return {
      option: {},
    };
  },
  components: {
    Chart,
  },
  methods: {
    async getReports() {
      const { data } = await getReports();
      let options = {
        chart: {
          type: "area",
        },
        xAxis: {
          tickmarkPlacement: "on",
          title: {
            enabled: false,
          },
        },
        yAxis: {
          labels: {
            formatter: function () {
              return this.value;
            },
          },
        },
        tooltip: {
          split: true,
          valueSuffix: "",
        },
        plotOptions: {
          area: {
            stacking: "normal",
            lineColor: "#666666",
            lineWidth: 1,
            marker: {
              lineWidth: 1,
              lineColor: "#666666",
            },
          },
        },
      };
      options.xAxis.categories = data.xAxis[0].data;
      options.series = data.series.map((item) => ({
        name: item.name,
        data: item.data,
      }));
      this.option = options;
      // let series = [];
      // data.series.map((item) => {
      //   series.push({ name: item.name, data: item.data });
      // });
      // this.option = {
      //   chart: {
      //     type: "area",
      //   },
      //   plotOptions: {
      //     area: {
      //       stacking: "normal",
      //       lineColor: "#666666",
      //       lineWidth: 1,
      //       marker: {
      //         lineWidth: 1,
      //         lineColor: "#666666",
      //       },
      //     },
      //   },
      //   ...data,
      //   xAxis: {
      //     categories: data.xAxis[0].data,
      //     tickmarkPlacement: "on",
      //     title: {
      //       enabled: false,
      //     },
      //   },
      //   yAxis: {
      //     labels: {
      //       formatter: function () {
      //         return this.value;
      //       },
      //     },
      //   },
      //   series,
      //   tooltip: {
      //     split: true,
      //     valueSuffix: "",
      //   },
      // };
    },
  },
  mounted() {
    this.getReports();
  },
};
</script>
<style>
.report {
  height: 400px;
  width: 100vw;
}
</style>
