<template>
  <div class="report"></div>
</template>

<script>
import * as echarts from "echarts";
import { getReports } from "@/http/apis";
export default {
  methods: {
    async getReports() {
      const { data } = await getReports();
      this.myChart.setOption({
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        ...data,
      });
    },
  },
  mounted() {
    this.myChart = echarts.init(document.querySelector(".report"));
    this.getReports();
  },
};
</script>
<style>
.report {
  height: 400px;
  width: 100vw;
}
</style>
