<template>
  <div class="report">
    <v-chart :option="option"></v-chart>
  </div>
</template>

<script>
import { getReports } from "@/http/apis";
export default {
  data() {
    return {
      option: null,
    };
  },
  methods: {
    async getReports() {
      const { data } = await getReports();
      this.option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        ...data,
      };
    },
  },
  mounted() {
    this.getReports();
  },
};
</script>
<style>
.report {
  height: 400px;
  width: 100vw;
}
</style>
